<h1><%= t('articles.edit_h1') %></h1>

<%= form_for :article, url: article_path(@article), method: :put do |f| %> <!-- Вместо '/articles' можно ввести переменную articles_path -->
	<p>
		<%= f.label t('articles.title') %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label t('articles.text')%><br />
		<%= f.text_area :text %>
	</p>
	<p>
		<%= f.submit t('articles.edit_button') %><br />
	
	</p>
<%end%>
<%= form_for :article, url: article_path(@article), method: :delete do |f| %>

	<!-- <p>
		<%= f.submit 'Delete article' %><br />
	
	</p> -->


<%end%>
