<h1> <%= t('articles.list_of') %> </h1>

<% @articles.each do |article| %>

<h2> 

	<%= article.title %>

</h2>

<p>

	<%= article.text %>

</p>

<p>

	<%= link_to t('articles.show') , article_path(article) %> 
	<% if @user && @user.username == article.username %>
	| <%= link_to t('articles.edit'), edit_article_path(article) %> |
	<%= link_to t('articles.destroy'), article_path(article), method: :delete %>
	<% end %>
</p>

<hr />

<% end %>