<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <script data-require="jquery@*" data-semver="2.1.4" src="https://code.jquery.com/jquery-2.1.4.js"></script>
   <script data-require="bootstrap@*" data-semver="3.3.6" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">	
			<div class="container-fluid">	
				<a class="navbar-brand" href="/articles">Blog</a> 
				<ul class="nav navbar-nav">
        			<li class="active"><a href="/articles/new">New article <span class="sr-only">(current)</span></a></li>
              	</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if user_signed_in? %>
					<li><p class="navbar-text">Hello, <%= current_user.username %></p></li>
					<li><%= link_to 'Sign Out!', destroy_user_session_path, method: :delete %> </li>  <!-- <a href="/users/sign_out" data-method = delete>Sign out</a> -->
					<% else %>
					<li><%= link_to 'Sign In!', new_user_session_path %> </li>  <!-- Можно дать такую ссылку - <a href="/users/sign_in">Sign In</a>, параметр new_user_session_path(Helper for Devise) взят из списка маршрутов -->
					<li><%= link_to 'Sign Up!', new_user_registration_path %> </li>  <!-- <a href="/users/sign_up">Sign Up</a> --> 
					<% end %>
				</ul>
			</div>
		</nav>

		
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

		<%= yield %>
	</div>
</body>
</html>
